<%- include("navbar") -%>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Home Page</title>
    </head>

    <body>

        <div class="container mt-5">
            <h2>Home Page</h2>

            <div class="mb-3">
                <label for="tagFilter" class="form-label">Filter by Tag:</label>
                <select class="form-select" id="tagFilter" name="tagFilter">
                    <option value="" selected>All Tags</option>
                    <% allTags.forEach(tag=> { %>
                        <option value="<%= tag.name %>">
                            <%= tag.name %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4" id="imageContainer">
                <% images.forEach(image=> { %>
                    <div class="col" data-tags="<%= image.tags.map(tag => tag.name).join(',') %>">
                        <div class="card h-100">
                            <img src="../../../uploads/<%= image.url %>" class="card-img-top" alt="<%= image.title %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= image.title %>
                                </h5>
                                <p class="card-text">
                                    <%= image.description %>
                                </p>
                                <p class="card-text">
                                    <%= image.likedBy.length %> likes
                                </p>
                                <p class="card-text">
                                    Tags: <% image.tags.forEach(tag=> { %> <%= tag.name %>,
                                            <% }); %>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Uploaded on <%= image.createdAt %></small>
                                <form action="/users/<%= image.author.userName %>" method="get">
                                    <button type="submit" class="btn btn-primary">
                                        <%= image.author.userName %>
                                    </button>
                                </form>
                                <% if (user) { %>
                                    <form action="/likeImage/<%= image.id %>" method="post">
                                        <button type="submit" class="btn btn-primary">Like</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    <% if (currentPage> 0) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% } %>

                            <% for (let i=0; i < totalPages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>

                                    <% if (currentPage < totalPages - 1) { %>
                                        <li class="page-item">
                                            <a class="page-link" href="?page=<%= Number(currentPage) + 1 %>"
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <% } %>
                </ul>
            </nav>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.getElementById('tagFilter').addEventListener('change', function () {
                const selectedTag = this.value.toLowerCase();
                const imageCards = document.querySelectorAll('.col');

                imageCards.forEach(card => {
                    const cardTags = card.dataset.tags.toLowerCase();
                    const isVisible = selectedTag === '' || cardTags.includes(selectedTag);
                    card.style.display = isVisible ? 'block' : 'none';
                });
            });
        </script>
    </body>

    </html>